h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
  max-width: 900px;
}

img {
  border: 3px solid gray;
  height: 300px;
}

li {
  font-family: 'Lato', sans-serif;
  list-style: none;
  float: left;
  margin: 5px;
}
